
.card {
  box-sizing: border-box;
  width: 327px;
  height: 492px;
  flex-shrink: 0;
  background: #f9f8f9;
  border-radius: 8px;
  box-shadow: 12px 12px 32px 0px rgba(46, 47, 58, 0.08);
  display: flex;
}

.card-header {
  color: #2b2d41;
  text-align: left;
  font: "Helvetica Neue";

  width: 300px;
}
.card-price {
  color: #2b2d41;
  text-align: left;
  font: 800 24px/32px "Plus Jakarta Sans", sans-serif;
  width: 204px;
}
.card-paragraph {
  color: #787878;
  text-align: left;
  font: 400 16px/26px "Plus Jakarta Sans", sans-serif;
  position: relative;
  width: 226px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.card-button {
    background: #3a4acd;
    border-radius: 16px;
    width: 209px;
    height: 48px;
    position: relative;
    color: #FFFFFF;
  }
.card-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

